.pricing-table {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px;
}

.pricing-option {
    border: 4px solid #EB5694;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    width: 375px;
    height: 400px;
    text-align: center;
    position: relative;
}

.planos .h2{
    border: 1px solid;
    color: #EB5694;
}

.header {
    border: 4px solid #EB5694;
    background-color: #EB5694;
    color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

.features-list {
    list-style-type: none;
    padding: 0;
}

.features-list li {
    margin: 30px 0;
    font-size: 16px;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

.learn-more {
    padding: 100px;
}

.decoration-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
}

/* Responsividade para tablets e dispositivos menores */
@media (max-width: 768px) {
    .pricing-table {
        flex-direction: column; /* Coloca os itens em uma coluna em telas menores */
        align-items: center;
    }

    .pricing-option {
        width: 150%; /* Expande o componente para ocupar mais espaço horizontal */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    .features-list li {
        font-size: 14px; /* Diminui o tamanho da fonte para telas pequenas */
    }
}