.main-atividades {
    display: flex;
}

.main-atividades h1 {
    font-size: 2rem;
    color: white;
}


.body-atividade {
    width: 200vh;

}

.hero-atividade {
    background-image: url('/public/heroFlor.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}