/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    color: #333;
}

.funcionalidades {
    padding: 100px;
    max-width: 1200px;
    margin: auto;
    text-align: left;
}

.funcionalidades h2 {
    font-size: 3em;
    font-weight: bold;
    color: #008080;
    margin-bottom: 80px;
    text-align: center;
}

/* Estilo de cada item */
.func-item {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.func-item-invertido {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    padding-left: 100px;
}



.icone {

    height: 20px;
    height: 250px;
    margin-right: 80px;

}


.func-info p {
    margin: 35px 0 0 0;
    font-size: 28px;
}


.atividades-title {
    color: #E91E63;
    font-size: 50px;
    font-weight: bold;

}

.diario-title {
    color: #008080;
    font-size: 50px;
    font-weight: bold;
}

.conteudos-title {
    color: #FFB300;
    font-size: 50px;
    font-weight: bold;
}

.folha {
    position: absolute;
    /* Permite posicionar a folha livremente dentro da div .video */
    top: -200px;
    /* Ajuste este valor para mover a folha para cima */
    left: -80px;
    /* Ajuste este valor para mover a folha para a esquerda */
    z-index: 1;
    /* Garante que a folha fique acima do iframe */
}

.folha img {
    width: 300px;
    /* Ajuste o tamanho conforme necessário */
}

.planos {
    display: flex;
    flex-direction: column; /* Alinha o conteúdo em coluna */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center; /* Centraliza o texto no h1 */
    padding: 20px;
    padding-top: 30px;
  }
  
  .planos img {
    max-width: 100%; 
    height: auto; 
    margin-top: 20px; 
    margin-bottom: 100px;
  }


.container-video {
    background: linear-gradient(90deg, #E91E63, #FF4081);
    background-color: white;
    padding: 0 100px;
    text-align: center;

}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
    height: 60vh;
}

.video iframe {
    border-radius: 40px;
    transform: translateX(40px);
    border: 2px solid #f5f5f5;
}