/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    color: #333;
}

.funcionalidades {
    padding: 100px;
    max-width: 1200px;
    margin: auto;
    text-align: left;
}

.funcionalidades h2 {
    font-size: 3em;
    font-weight: bold;
    color: #008080;
    margin-bottom: 80px;
    text-align: center;
}

/* Estilo de cada item */
.func-item {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.func-item-invertido {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    padding-left: 100px;
}

.icone {
    height: 250px;
    margin-right: 80px;
}

.func-info p {
    margin: 35px 0 0 0;
    font-size: 28px;
}

.atividades-title {
    color: #E91E63;
    font-size: 50px;
    font-weight: bold;
}

.diario-title {
    color: #008080;
    font-size: 50px;
    font-weight: bold;
}

.conteudos-title {
    color: #FFB300;
    font-size: 50px;
    font-weight: bold;
}

.folha {
    position: absolute;
    top: -200px;
    left: -80px;
    z-index: 1;
}

.folha img {
    width: 300px;
}

.planos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-top: 30px;
}

.planos img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

.container-video {
    background: linear-gradient(90deg, #E91E63, #FF4081);
    background-color: white;
    text-align: center;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
    height: 60vh;
}

.video iframe {
    border-radius: 40px;
    transform: translateX(40px);
    border: 2px solid #f5f5f5;
}

/* Responsividade */
@media (max-width: 768px) {
    .funcionalidades {
        padding: 20px;
    }

    .funcionalidades h2 {
        font-size: 2rem;
        margin-bottom: 50px;
    }

    .func-item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    .func-item-invertido {
        padding-left: 0px;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 100px;
    }

    .func-info {
        text-align: center;
    }

    .icone {
        margin-right: 0;
        margin-bottom: 20px;
        height: 180px;
    }

    .atividades-title, .diario-title, .conteudos-title {
        font-size: 30px;
    }

    .video {
        padding: 32px;
    }

    .video iframe {
        width: 100%;
        height: 300px;
        max-width: 600px; /* Limita a largura máxima do iframe */
        transform: none; /* Remove o deslocamento */
    }
}
