/* Alinhamento principal da página */
.main-escrita {
    display: flex;

}

.body-escrita {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.left-section,
.right-section {
    width: 500px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.reflexao,
.diarios 

{
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    flex: 1;
}

.input-group button {
    padding: 8px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.album-reflexoes {
    background-color: #ff3399;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
}

/* Container dos diários */
.diarios-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.diario-item {
    width: 150px;
    height: 200px;
    border: 2px dashed #00a99d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00a99d;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

.pessoal {
    border-style: solid;
    font-size: 16px;
    color: #00a99d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.search-group { 
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    flex: 1;
}

.search-group button {
    padding: 8px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.historico-list p {
    margin-top: 20px;
    color: #999;
    font-style: italic;
    
}