.main-leitura {
    display: flex;
    gap: 5rem;
}

.lupa-pesquisa {
    margin-left: 20px;
}

.barra-pesquisa {
        /* display: flex; */
        justify-content: center;
        /* width: 40%; */
        display: flex;
}

.conteudo {
    display: inline-block;
    padding: 20px;
    width: 100%;
  }
  
  .input-conteiner {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    width: 40%;
  }
  
  .input-conteiner input {
    padding: 8px;
    width: 80%;
    margin-right: 10px;
    border: none;
  }

  .input-conteiner input:focus {
    outline: none;
  }
  
  .botao-filtro {
    background-color: rgba(255, 255, 255, 0);
    padding: 8px;
    border: none;
    cursor: pointer;
  }
  
  .filtro-pesquisa {
  margin-right: 5%;
  padding: 5px;
  }
  
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.dentro-conteudo {
  margin-left: 30%;
  margin-right: 20%;
  padding: 20px;
}

.livros {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    border-radius: 35px;
}
    
.amostra1 {
    background-color: beige;
    width: 100px;
    grid-column: span 2 / span 2;
    grid-row: span 7 / span 7;
}

.amostra2 {
    background-color: beige;
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 3;
}

.amostra3 {
    background-color: beige;
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 1;
    grid-row-start: 4;
}

.amostra4 {
    background-color: beige;
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 3;
    grid-row-start: 5;
}
        
