/* Estrutura principal */
.main-leitura {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.conteudo {
  margin-left: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Estilo do carrossel de livros */
.livros-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Slider responsivo ajustado */
.slick-slider {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px; /* Garante que todas as slides têm altura padronizada */
}

.livro {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow: hidden; /* Garante que nada ultrapasse o espaço */
  transition: transform 0.2s ease;
  text-align: center;
}

.livro img {
  width: 100%; /* Garante que a imagem ocupa todo o espaço disponível */
  height: 100%;
  object-fit: cover; /* Ajusta a imagem sem deformar e garante que ela se ajuste ao espaço */
}

.livro:hover {
  transform: scale(1.1);
}
