/* Estrutura principal */
.main-leitura {
  display: flex;
}

.conteudo {
  flex: 1;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Barra de pesquisa */
.barra-pesquisa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-conteiner {
  flex: 1;
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 30px;
  padding: 10px 20px;
}

.icone-pesquisa {
  color: #666;
  margin-right: 10px;
}

.input-pesquisa {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.botao-filtro {
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.icone-filtro {
  color: #333;
}

/* Seções */
.secoes-conteudo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.secao {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo-secao {
  font-size: 20px;
  font-weight: bold;
  color: #e91e63;
}

/* Estilo do carrossel de livros */
.livros-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.slick-slider {
  /* width: 100%; */
  width: 800px; /* Largura máxima do carrossel */
  margin: 0 auto;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev,
.slick-next {
  font-size: 30px;
  color: #333;
  z-index: 1;
}

.slick-prev {
  left: -10px;
}

.slick-next {
  right: -10px;
}

/* Grid de livros */
.livro {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

/* Recomendações */
.recomendados .livro {
  background-size: cover;
  background-position: center;
}

.bloco1 {
  background-image: url("livro1.png");
}

.bloco2 {
  background-image: url("livro1.png");
}

.bloco3 {
  background-image: url("livro1.png");
}

.bloco4 {
  background-image: url("livro1.png");
}

/* Acervo */
.acervo .livro {
  background-size: cover;
  background-position: center;
}

.capa1 {
  background-image: url("livro1.png");
}

.capa2 {
  background-image: url("livro1.png");
}

.capa3 {
  background-image: url("livro1.png");
}

.capa4 {
  background-image: url("livro1.png");
}
