@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

.wrapper.sidebar-expanded {
    margin-left: 280px;
}

#sidebar {
    width: 90px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background: linear-gradient(to bottom, #EB5694, #e6367f);
    display: flex;
    border-radius: 0 0 0 0;
    flex-direction: column;
    align-content: center;
}

#sidebar.expand {
    width: 280px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.8rem;
    font-size: 30px;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    height: 60px;
}

.sidebar-link .icon {
    font-size: 1.5rem;
    margin-right: 1.75rem;
}

a.sidebar-link:hover {
    background-color: #FFF;
    color: #EB5694;
    transition: 0.15s ease-in;
}

.sidebar-footer {
    margin-top: auto;
    padding: 1rem;
}
