@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #fafbfe;
    flex-direction: column;
}

.wrapper.sidebar-expanded {
    margin-left: 280px; /* Ajusta a margem quando a sidebar expandir */
}

#sidebar {
    position: fixed; /* Deixa a sidebar fixa */
    top: 0; /* Garante que a sidebar começa do topo */
    left: 0;
    width: 90px;
    min-width: 70px;
    height: 100vh; /* Sidebar ocupa toda a altura da tela */
    z-index: 10000; /* Garante que a sidebar fique sobre outros elementos */
    transition: all .25s ease-in-out;
    background: linear-gradient(to bottom, #EB5694, #e6367f);
    display: flex;
    border-radius: 0 0 0 0;
    flex-direction: column;
    align-content: center;
}

#sidebar.expand {
    width: 280px; /* Largura expandida */
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.8rem;
    font-size: 30px;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    height: 60px;
}

.sidebar-link .icon {
    font-size: 1.5rem;
    margin-right: 1.75rem;
}

a.sidebar-link:hover {
    background-color: #FFF;
    color: #EB5694;
    transition: 0.15s ease-in;
}

.sidebar-footer {
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    /* Sidebar no mobile (horizontal) */
    #sidebar {
        position: fixed;
        width: 100vw;        /* Largura total */
        height: 70px;        /* Altura reduzida */
        bottom: 0;           /* Fixa a sidebar no fundo */
        left: 0;
        top: auto;
        flex-direction: row; /* Exibe os itens em linha */
        justify-content: space-around; /* Espaça os itens horizontalmente */
        z-index: 10000;
        background: linear-gradient(to bottom, #EB5694, #e6367f);
    }

    #sidebar .sidebar-nav {
        flex: 1;
        padding: 10px;      
        display: flex;     
        justify-content: space-around; 
    }

    .sidebar-footer {
        display: none;
    }

    #sidebar .sidebar-item {
        text-align: center; 
    }

    #sidebar .sidebar-link {
        padding: 0.625rem;  
        border-left: none;  
        height: auto;       
    }

    .toggle-btn {
        display: none;      
    }

    .sidebar-logo {
        font-size: 1rem;    
    }

    .sidebar-link .icon {
        margin: 0;
    }

}

