.social-media{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #100F3E;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.icones{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}